link(rel='stylesheet' href='./index.css')

head
  title AI-AI
  
body

  .app

    .nav
    
    .topContent
      .one.featured#one
        img.featuredImg(src='./assets/robot1.png')
      .two.featured#two
        img.featuredImg(src='./assets/miim.png')
      .three.featured#three
        img.featuredImg(src='./assets/pepper.png')
      .four.featured#four
        img.featuredImg(src='./assets/Asimo.png')
      
    .main
      .mainTitle AI-AI
      .mainAbout Showcasing the Best in Artificial Intelligence and Amazing Inventions
      .mainLearn Learn More
      .learn
        .learnModal
          .learnHeader About AI-AI
          .learnDesc The developer of the robot is the forerunner of human history
          .learnDesc from the perspective of Hollywood or the development of the entire planet
          .learnDesc Robots assisting human development is an inevitable step in historical development
          .learnDesc Robot can help us cook noodles; help us receive guests; help us teach; help us do everything you can imagine
          .learnDesc Intelligent robots are a gift from mankind
          .learnDesc Positive mindset completes active creation
          .learnDesc Let us warmly welcome robot friends to join our earth community's big garden
      
    .bottomContent
      .five.featured#five
        img.featuredImg(src='./assets/sophia-new.png')
      .six.featured#six
        img.featuredImg(src='./assets/mark1-new.png')
      .seven.featured#seven
        img.featuredImg(src='./assets/jiajia-new.png')
      .eight.featured#eight
        img.featuredImg(src='./assets/titan.png')
    
    .featuredContainer
      .featuredModal
        .featuredName
        iframe.featuredVideo(width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
        .featuredDesc   
        .featuredBuy
          .buyPrice Selling at $2500
          .buyBtn Order Now

        
        
    .footer

script(src="https://js.stripe.com/v3/")
script(src='./scripts/money-input.min.js')
script(src="./scripts/axios.min.js")
script(src="https://aframe.io/releases/1.0.4/aframe.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="./index.js")


.aframe
  a-scene(vr-mode-ui="enabled: false")
    //- a-assets
    //-   a-asset-item(id="city-obj" src="./assets/city.obj")
    //-   a-asset-item(id="city-mtl" src="./assets/city.mtl")
    //- a-entity(obj-model="obj: #city-obj; mtl: #city-mtl" rotation="0 90 0" position="0 0 -6" scale="0.15 0.15 0.15")
    a-assets
      a-asset-item(id="city" src="./assets/city.glb")
    a-entity(
      gltf-model="#city"
      rotation="0 90 0"
      position="0 0 -6"
      scale="0.15 0.15 0.15"
      material="shader: flat; color: #fff"
    )
    a-entity(light="type: directional; color: #FFF; intensity: 3" position="-137 65 5")
    a-sky(src="./assets/galactic.jpg" repeat="10 10")
    a-box(position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9")
    a-camera(position="-35 24 35")
  
